<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="eight columns offset-by-two text-center">
                <h3 class="about__subline">{{ page.header.subline }}</h3>
                <h2 class="about__headline">{{ page.header.headline }}</h2>
                {{ content }}
                <a href="{{ page.header.button.url }}" class="button">{{ page.header.button.text }}</a>
            </div>
        </div>
    </div>
</section>