<div class="container">
    <div class="row">
        <div class="four columns footer__copyright">
            <h3>{{ config.site.title }}</h3>
            <p>&copy; {{ 'now'|date('Y') }} {{ site.author.copyright }}<br>All Rights Reserved.</p>
        </div>
        <nav class="four columns footer__nav">
            <h4>Quick links</h4>
            <ul class="footer__nav-list">
{% for module in site.quicklinks %}
                <li class="footer__nav-item"><a href="{% if 'base_url:' in module.url %}{{ base_url_absolute }}/{{ module.url|replace({'base_url:': ''}) }}{% else %}{{ module.url }}{% endif %}">{{  module.text }}</a></li>
{% endfor %}
            </ul>
        </nav>
        <nav class="four columns footer__nav">
            <h4>Connect</h4>
            <ul class="footer__nav-list">
{% for social in site.social %}
                <li class="footer__nav-item">
                    <a href="{{ social.url }}"><i class="fa fa-{{ social.icon }}"></i> {{ social.name }}</a>
                </li>
{% endfor %}
            </ul>
        </nav>
    </div>
    <div class="footer__made">
        <p>{{ site.bottom_line }}</p>
    </div>
</div>