{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
    <head>
{% block head %}
        <meta charset="utf-8">
        <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
        {% include 'partials/metadata.html.twig' %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}">
        <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', 105) %}
        {% do assets.addCss('//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', 104) %}
        {% do assets.addCss('theme://css-compiled/main.css', 103) %}
    {% endblock %}

        {{ assets.css() }}
{% endblock %}
    </head>
    <body>
        <div class="site">
            <header {% if page.header.header_class %}class="{{ page.header.header_class }}{% endif %}">
                <div class="container">
                    <div class="row">
                        <div class="two columns header__logo">
                            <h2>{{ config.site.title }}</h2>
                            <button class="js-toggle-nav"><i class="fa fa-2x fa-bars"></i></button>
                        </div>
                        <nav class="ten columns header__nav">
                            {% include 'partials/navigation.html.twig' %}
                        </nav>
                    </div>
                </div>
            </header>
            <main>
{% block content %}
{% endblock %}
            </main>
            <footer>
                {% include 'modular/footer.html.twig' %}
            </footer>
        </div>
{% block javascripts %}
        {% do assets.addJs('//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js', 101) %}
        {% do assets.addJs('theme://js/main.js', 100) %}
{% endblock %}
        {{ assets.js() }}
{% block bottom %}
{% endblock %}
    </body>
</html>